# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TowerDefense-2.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\olise\Desktop\Programming suite\Class\Game Design corse\TowerDefense-2\.idea\.idea.TowerDefense-2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
